<a href="https://colab.research.google.com/github/MehdiKhiatiDS/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/mk_LS_DS_113_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [3]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-10-31 14:56:19--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.98.157
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.98.157|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  15.7MB/s    in 14s

2019-10-31 14:56:33 (14.5 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [4]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [5]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [6]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [7]:
##### YOUR CODE HERE #####
# I need product_name and product_id
import pandas as pd
pd.options.display.max_rows = 999
pd.options.display.max_columns = 100

product = pd.read_csv('products.csv')
print(product.shape)
product.head()

product_id_and_name = product.drop(['department_id', 'aisle_id'], axis=1, inplace = False)

(49688, 4)

In [300]:
product_id_and_name.head()

   product_id                                       product_name
0           1                         Chocolate Sandwich Cookies
1           2                                   All-Seasons Salt
2           3               Robust Golden Unsweetened Oolong Tea
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4           5                          Green Chile Anytime Sauce

In [8]:
product['product_id']   #count

0            1
1            2
2            3
3            4
4            5
         ...
49683    49684
49684    49685
49685    49686
49686    49687
49687    49688
Name: product_id, Length: 49688, dtype: int64

In [9]:
product['product_name']

0                               Chocolate Sandwich Cookies
1                                         All-Seasons Salt
2                     Robust Golden Unsweetened Oolong Tea
3        Smart Ones Classic Favorites Mini Rigatoni Wit...
4                                Green Chile Anytime Sauce
                               ...
49683            Vodka, Triple Distilled, Twist of Vanilla
49684                   En Croute Roast Hazelnut Cranberry
49685                                     Artisan Baguette
49686           Smartblend Healthy Metabolism Dry Cat Food
49687                               Fresh Foaming Cleanser
Name: product_name, Length: 49688, dtype: object

In [10]:
condition = product['product_name'].str.contains('Bag of Organic Bananas')

Bag_of_Organic_Bananas = product[condition]

print(Bag_of_Organic_Bananas.shape)
Bag_of_Organic_Bananas.head()

(1, 4)

       product_id            product_name  aisle_id  department_id
13175       13176  Bag of Organic Bananas        24              4

In [153]:

Bag_of_Organic_Bananas2 = Bag_of_Organic_Bananas.drop(['department_id'], axis=1, inplace=False)
Bag_of_Organic_Bananas2.head()

       product_id            product_name  aisle_id
13175       13176  Bag of Organic Bananas        24

In [0]:
Bag_of_Organic_Bananas2 = Bag_of_Organic_Bananas2.drop(['aisle_id'], axis=1, inplace=False)
Bag_of_Organic_Bananas2.head()

In [307]:
Bag_of_Organic_Bananas2.head()

       product_id            product_name
13175       13176  Bag of Organic Bananas

In [169]:
condition = product['product_name'].str.contains('Organic Strawberries')
Organic_Strawberries1 = product[condition]
print(Organic_Strawberries1.shape)
Organic_Strawberries1.head()

(5, 4)

,product_id,product_name,aisle_id,department_id
11349,11350,Just Organic Strawberries,50,19
14804,14805,Organic Strawberries & Wild Strawberries Fruit...,88,13
21136,21137,Organic Strawberries,24,4
42900,42901,Organic Strawberries & Cream Flavor Nutritiona...,65,11
49477,49478,Frozen Organic Strawberries,24,4

In [179]:
Organic_Strawberries1['product_id']==21137

11349    False
14804    False
21136     True
42900    False
49477    False
Name: product_id, dtype: bool

In [173]:
Organic_Strawberries2 = Organic_Strawberries1.drop(['department_id', 'aisle_id'], axis=1, inplace = False)
Organic_Strawberries2.head()


# so i has going on a loop trying to find every single name needed an gabbin 
# the data for it and then makin a frame were rows or column were banana, 
# strawberry.. and  then realized it was gotta take too long and confusing!

       product_id                                       product_name
11349       11350                          Just Organic Strawberries
14804       14805  Organic Strawberries & Wild Strawberries Fruit...
21136       21137                               Organic Strawberries
42900       42901  Organic Strawberries & Cream Flavor Nutritiona...
49477       49478                        Frozen Organic Strawberries

In [11]:
orders = pd.read_csv('orders.csv')

print(orders.shape)
orders.head()

(3421083, 7)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [0]:
orders_id = orders['order_id']

print(orders_id.shape)
orders_id.head()

orders_id = orders_id.to_frame()

orders_id

# I actually dont need this just realized it next day!

In [12]:
order_products_train = pd.read_csv('order_products__train.csv')
print(order_products_train.shape)
order_products_train.head()

(1384617, 4)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [13]:
order_products_prior = pd.read_csv('order_products__prior.csv')
print(order_products_prior.shape)
order_products_prior.head()

(32434489, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [24]:
# im going to concatenation order_products__prior.csv with order_products__train.csv to get order_products
# To have a the whole data set to merge with.. 
order_products = pd.concat([order_products_prior, order_products_train])
print(order_products.shape)
order_products.head(10)


# 32434489+1384617

(33819106, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0
5         2       17794                  6          1
6         2       40141                  7          1
7         2        1819                  8          1
8         2       43668                  9          0
9         3       33754                  1          1

In [25]:
order_products['product_id'].value_counts()

# order_products['add_to_cart_order'].value_counts()

24852    491291
13176    394930
21137    275577
21903    251705
47209    220877
          ...
42235         1
5255          1
44495         1
36079         1
20759         1
Name: product_id, Length: 49685, dtype: int64

In [26]:
ordered_products= order_products['product_id'].value_counts().sort_values(ascending=False)
ordered_products.head(10)

24852    491291
13176    394930
21137    275577
21903    251705
47209    220877
47766    184224
47626    160792
16797    149445
26209    146660
27845    142813
Name: product_id, dtype: int64

In [0]:
ordered_products.to_frame().reset_index(0)
ordered_products_with_id = ordered_products.to_frame().reset_index(0)

In [32]:
# merging couple columns and creating a new df 
# we need names from products and products from ordered products we will use product id for it 
top10 = ordered_products_with_id .head(10)
top10.head(10)



# merged = pd.merge(orders_subset, 
#                   order_products_subset, 
#                   how='inner', 
#                   on='order_id')

   index  product_id
0  24852      491291
1  13176      394930
2  21137      275577
3  21903      251705
4  47209      220877
5  47766      184224
6  47626      160792
7  16797      149445
8  26209      146660
9  27845      142813

In [316]:
Top10.drop('top10 total orders', axis=1)

Empty DataFrame
Columns: []
Index: [24852, 13176, 21137, 21903, 47209, 47766, 47626, 16797, 26209, 27845]

In [301]:
print(Top10)
print(product_name)
orders_id

       top10 total orders
24852              491291
13176              394930
21137              275577
21903              251705
47209              220877
47766              184224
47626              160792
16797              149445
26209              146660
27845              142813
   product_id                                       product_name
0           1                         Chocolate Sandwich Cookies
1           2                                   All-Seasons Salt
2           3               Robust Golden Unsweetened Oolong Tea
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4           5                          Green Chile Anytime Sauce

         order_id
0         2539329
1         2398795
2          473747
3         2254736
4          431534
...           ...
3421078   2266710
3421079   1854736
3421080    626363
3421081   2977660
3421082    272231

[3421083 rows x 1 columns]

In [308]:
merged = pd.merge(Top10, 
                  product_id_and_name, 
                  how='inner', 
                  on='product_id')



# print(Top10)
# print(product_id_and_name.head())
# orders_id

KeyError: ignored

## Reshape Data Section

- Replicate the lesson code
- Complete the code cells we skipped near the beginning of the notebook
- Table 2 --> Tidy
- Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [0]:
import seaborn as sns
flights = sns.load_dataset('flights')

In [0]:
##### YOUR CODE HERE #####

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [0]:
##### YOUR CODE HERE #####

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [0]:
##### YOUR CODE HERE #####